/*Root Elements*/
:root{
--primary-color: #E9D5FF;
}


/*Navigation-Top*/
.navigation{
    background-color: var(--primary-color); 
    color: white;
    padding: 2rem;
    border-bottom-left-radius: 1rem;
}
.navigation .myname{
 font-weight: bold;
 font-size: 1rem;

}

.navigation .list{
    text-align: right;
}    

.nodecoration{
text-decoration: none;
color: white

}
.navigation .list .listinline{
    ;
    display: inline;
    padding: 0 0.5rem;
}

/*Header*/
.header{
    padding: 1rem;
}

.header .image{
    max-width: 600px;
    display: block;
    margin: auto;
}

.header .headingg{
 color: blueviolet;
 text-align: center;

}

.header .headingg .span{
    color: chocolate;
}

/* Section */
.section1 {
 text-align: center;
 padding: 2rem;
}
.sectionbgcolor{
background-color: #b8a7bd;

}

.section2{
    text-align: center;
    padding: 2rem;
}


/*Footer*/

.footer{
  text-align: center;
  background-color: cornflowerblue;
  border-top-right-radius: 1rem;
  padding: 1rem;
  


}

.social{
   text-align: center;
}
.socialist{
    text-align: center;
    
}

.socialist .socialmedia{
    list-style: none;
    display: inline;
    padding: 0 1.3rem;
}

