@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');

/* body font */
body{
    font-family: 'Balsamiq Sans', cursive;
}
/*Root Elements*/
:root{
--primary-color: #E9D5FF;

}


/*Navigation-Top*/
.navigation{
    background-color: var(--primary-color); 
    color: rgba(255, 255, 255, 0.589);
    padding: 0.3rem;
    border-bottom-left-radius: 1rem;
}
.navigation .myname{
 font-weight: bold;
 font-size: 1rem;

}

.navigation .list{
    text-align: right;
}    

.nodecoration{
text-decoration: none;
color: white

}
.navigation .list .listinline{
    
    display: inline;
    padding: 0 0.5rem;
}


.navigation container .container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
}








/*Header*/
.header{
    padding: 1rem;
}

.header .image{
    padding: 2rem;
    max-width: 600px;
    display: block;
    margin: auto;
}

.header .headingg{
 color: blueviolet;
 text-align: center;

}

.header .headingg .span{
    color:#7DD3FC;
}

/* Section */
.section1 {
 text-align: center;
 padding: 2rem;
}
.sectionbgcolor{
background-color: #E0F2FE;

}

.section2{
    text-align: center;
    padding: 2rem;
}

/*links*/


/*Footer*/

.footer{
  text-align: center;
  background-color: cornflowerblue;
  border-top-right-radius: 1rem;
  padding: 1rem;
  


}

.social{
   text-align: center;
}
.socialist{
    text-align: center;
    
}

.socialist .socialmedia{
    list-style: none;
    display: inline;
    padding: 0 1.3rem;
}

