body{
    color : red;
}

.list{
    list-style: none;
    text-align: right;
}

.list .listinline{
    display: inline;
}



.socialist{
    text-align: right;
}

.socialist .socialmedia{
    list-style: none;
    display: inline;
}

